*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/cdt.txt
/e4.txt
/emf.txt
/jdt.txt
/newcomer.txt
/platform.txt
/sirius.txt
/xtext.txt
/.gradle/
/bin/
/build/
